<!DOCTYPE html>
<html ng-app="myModule">
<head>
    <script src="lib\angular\angular.js"></script>

    <script src="script\myscript.js"></script>

</head>
<body>
    <div ng-controller="myEventHandling">
        <table border="1">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Likes</th>
                    <th>Dislikes</th>
                    <th>Like/Dislike</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="technology in techArray">
                    <td>{{technology.name}}</td>
                    <td>{{technology.likes}}</td>
                    <td>{{technology.dislikes}}</td>
                    <td>
                        <input type="button" value="Like" ng-click="incrementLikes(technology)"/>
                        <input type="button" value="DisLike" ng-click="incrementDislikes(technology)"/>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>
